body {
  font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.75;
  margin: 0px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "t t t t t t t t t";
}

.top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: t;
  background: goldenrod;
  height: 100%;
  border-bottom: 2px solid #386280;
}

.top p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: t;
  background-color: #389e9e;
  color: white;
  position: relative;
  font-size: 23px;
  margin-top: auto;
  margin-bottom: 0;
  width: 6%;
  text-align: center;
  font-weight: bold;
  line-height: 51px;
  float: left;
  margin-left: 0.15%;
}

.top a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: #386280;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #386280;
  padding: 19.5px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  /* background-color: black; */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: goldenrod;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #386280;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #031625;
}

#timeline:hover .tl-item {
  width: 50%;
}

.tl-item1, .tl-item2, .tl-item3, .tl-item4, .tl-item5 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.tl-item1:before, .tl-item1:after, .tl-item2:before, .tl-item2:after, .tl-item3:before, .tl-item3:after, .tl-item4:before, .tl-item4:after, .tl-item5:before, .tl-item5:after {
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.tl-item1:after, .tl-item2:after, .tl-item3:after, .tl-item4:after, .tl-item5:after {
  background: rgba(16, 42, 61, 0.85);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.tl-item1:before, .tl-item2:before, .tl-item3:before, .tl-item4:before, .tl-item5:before {
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) translateY(50%);
          transform: translate3d(0, 0, 0) translateY(50%);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}

.tl-item1:hover, .tl-item2:hover, .tl-item3:hover, .tl-item4:hover, .tl-item5:hover {
  width: 30% !important;
}

.tl-item1:hover:after, .tl-item2:hover:after, .tl-item3:hover:after, .tl-item4:hover:after, .tl-item5:hover:after {
  opacity: 0;
}

.tl-item1:hover:before, .tl-item2:hover:before, .tl-item3:hover:before, .tl-item4:hover:before, .tl-item5:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translateY(0);
          transform: translate3d(0, 0, 0) translateY(0);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
}

.tl-item1:hover .tl-content1, .tl-item1:hover .tl-content2, .tl-item1:hover .tl-content3, .tl-item1:hover .tl-content4, .tl-item1:hover .tl-content5, .tl-item2:hover .tl-content1, .tl-item2:hover .tl-content2, .tl-item2:hover .tl-content3, .tl-item2:hover .tl-content4, .tl-item2:hover .tl-content5, .tl-item3:hover .tl-content1, .tl-item3:hover .tl-content2, .tl-item3:hover .tl-content3, .tl-item3:hover .tl-content4, .tl-item3:hover .tl-content5, .tl-item4:hover .tl-content1, .tl-item4:hover .tl-content2, .tl-item4:hover .tl-content3, .tl-item4:hover .tl-content4, .tl-item4:hover .tl-content5, .tl-item5:hover .tl-content1, .tl-item5:hover .tl-content2, .tl-item5:hover .tl-content3, .tl-item5:hover .tl-content4, .tl-item5:hover .tl-content5 {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.75s ease 0.5s;
  transition: all 0.75s ease 0.5s;
}

.tl-item1:hover .tl-bg1, .tl-item1:hover .tl-bg2, .tl-item1:hover .tl-bg3, .tl-item1:hover .tl-bg4, .tl-item1:hover .tl-bg5, .tl-item2:hover .tl-bg1, .tl-item2:hover .tl-bg2, .tl-item2:hover .tl-bg3, .tl-item2:hover .tl-bg4, .tl-item2:hover .tl-bg5, .tl-item3:hover .tl-bg1, .tl-item3:hover .tl-bg2, .tl-item3:hover .tl-bg3, .tl-item3:hover .tl-bg4, .tl-item3:hover .tl-bg5, .tl-item4:hover .tl-bg1, .tl-item4:hover .tl-bg2, .tl-item4:hover .tl-bg3, .tl-item4:hover .tl-bg4, .tl-item4:hover .tl-bg5, .tl-item5:hover .tl-bg1, .tl-item5:hover .tl-bg2, .tl-item5:hover .tl-bg3, .tl-item5:hover .tl-bg4, .tl-item5:hover .tl-bg5 {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.tl-content1, .tl-content2, .tl-content3, .tl-content4, .tl-content5 {
  -webkit-transform: translate3d(0, 0, 0) translateY(25px);
          transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 15em;
  top: 55%;
  opacity: 0;
}

.tl-content1 h1, .tl-content2 h1, .tl-content3 h1, .tl-content4 h1, .tl-content5 h1 {
  font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 1.44rem;
  font-weight: bolder;
}

.tl-year1, .tl-year2, .tl-year3, .tl-year4, .tl-year5 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.tl-year1 p, .tl-year2 p, .tl-year3 p, .tl-year4 p, .tl-year5 p {
  font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.728rem;
  line-height: 0;
  font-weight: bolder;
}

.tl-bg1, .tl-bg2, .tl-bg3, .tl-bg4, .tl-bg5 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-filter 1.0s ease;
  transition: -webkit-filter 1.0s ease;
  transition: filter 1.0s ease;
  transition: filter 1.0s ease, -webkit-filter 1.0s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  z-index: -1;
}

#timeline1, #timeline2, #timeline3, #timeline4, #timeline5 {
  display: none;
  position: absolute;
  bottom: 80px;
  font-size: 20px;
  -webkit-transition: display 0.8s;
  transition: display 0.8s;
  background-color: black;
  font-weight: bold;
  width: -webkit-fill-available;
  pointer-events: auto;
}

#timeline1 ul, #timeline2 ul, #timeline3 ul, #timeline4 ul, #timeline5 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: black;
  pointer-events: auto;
}

#timeline1 ul li, #timeline2 ul li, #timeline3 ul li, #timeline4 ul li, #timeline5 ul li {
  display: inline;
  font-size: 22px;
  font-weight: 100;
  padding: 0px 5px;
  background-color: black;
  pointer-events: auto;
}

#timeline1 ul li:before, #timeline2 ul li:before, #timeline3 ul li:before, #timeline4 ul li:before, #timeline5 ul li:before {
  font-family: FontAwesome;
  font-weight: bold;
  color: red;
  content: "\f10c";
  position: absolute;
  top: 30px;
  margin-left: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: x-large;
  pointer-events: auto;
}

#timeline1 ul li:after, #timeline2 ul li:after, #timeline3 ul li:after, #timeline4 ul li:after, #timeline5 ul li:after {
  content: '';
  position: absolute;
  top: 45px;
  margin-left: -20.5px;
  width: 45px;
  height: 4px;
  border: 1px solid rgba(83, 0, 0, 0.877);
  border-color: rgba(83, 0, 0, 0.877);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: gray;
  pointer-events: auto;
}

.timelineYear, .timelineYear:hover {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  pointer-events: auto;
}

#timeline1 ul li:hover:before, #timeline2 ul li:hover:before, #timeline3 ul li:hover:before, #timeline4 ul li:hover:before, #timeline5 ul li:hover:before {
  content: '\f111';
  color: #ffffff;
  font-size: 18px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 29px;
  margin-left: 9px;
  pointer-events: auto;
}

#timeline1 ul li:hover:after, #timeline2 ul li:hover:after, #timeline3 ul li:hover:after, #timeline4 ul li:hover:after, #timeline5 ul li:hover:after {
  content: '';
  position: absolute;
  top: 40px;
  margin-left: -10px;
  width: 36px;
  height: 2px;
  border: 1px solid #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  pointer-events: auto;
}

#timeline1 ul li:hover, #timeline2 ul li:hover, #timeline3 ul li:hover, #timeline4 ul li:hover, #timeline5 ul li:hover, .timelineYear ul li:hover {
  position: static;
  top: -10px;
  pointer-events: auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 475vw;
  -webkit-transform: rotate(90deg) translateY(-100vh);
          transform: rotate(90deg) translateY(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  -webkit-transform: rotate(-90deg) translateX(-100vh);
          transform: rotate(-90deg) translateX(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.vert-container {
  background-color: white;
}

#logo {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fill 0.5s ease forwards 3.5s;
          animation: fill 0.5s ease forwards 3.5s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 754.9266967773438;
  stroke-dashoffset: 754.9266967773438;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 226.9440460205078;
  stroke-dashoffset: 226.9440460205078;
  -webkit-animation: line-anim 2s ease forwards 0.3s;
          animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 604.4830322265625;
  stroke-dashoffset: 604.4830322265625;
  -webkit-animation: line-anim 2s ease forwards 0.6s;
          animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 226.9440460205078;
  stroke-dashoffset: 226.9440460205078;
  -webkit-animation: line-anim 2s ease forwards 0.9s;
          animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 754.9266967773438;
  stroke-dashoffset: 754.9266967773438;
  -webkit-animation: line-anim 2s ease forwards 1.2s;
          animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 483.8918151855469;
  stroke-dashoffset: 483.8918151855469;
  -webkit-animation: line-anim 2s ease forwards 1.5s;
          animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 754.9266967773438;
  stroke-dashoffset: 754.9266967773438;
  -webkit-animation: line-anim 2s ease forwards 1.8s;
          animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 801.1427001953125;
  stroke-dashoffset: 801.1427001953125;
  -webkit-animation: line-anim 2s ease forwards 2.1s;
          animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 490.2921447753906;
  stroke-dashoffset: 490.2921447753906;
  -webkit-animation: line-anim 2s ease forwards 2.4s;
          animation: line-anim 2s ease forwards 2.4s;
}

#logo path:nth-child(10) {
  stroke-dasharray: 635.7127685546875;
  stroke-dashoffset: 635.7127685546875;
  -webkit-animation: line-anim 2s ease forwards 2.7s;
          animation: line-anim 2s ease forwards 2.7s;
}

#logo path:nth-child(11) {
  stroke-dasharray: 463.9442138671875;
  stroke-dashoffset: 463.9442138671875;
  -webkit-animation: line-anim 2s ease forwards 3.0s;
          animation: line-anim 2s ease forwards 3.0s;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: goldenrod;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: goldenrod;
  }
}

.vert-container {
  height: 135vh;
  width: 100%;
}

.vert-container h1 {
  margin: 0%;
  top: 425px;
  left: 525px;
  position: absolute;
}

.plot-container {
  position: absolute;
}

.main-svg {
  position: relative;
  top: 495px;
  left: 300px;
  pointer-events: none;
  width: 1400px;
}

.one {
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 25vh;
}
/*# sourceMappingURL=style.css.map */