<!-- Code from d3-graph-gallery.com -->
<!DOCTYPE html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../static/css/style_Jack.css"/>
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
</head>

<body>
  <div class = "top">
    <div class="navbar">
      <a href="">About</a>
      <a href="/">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Plots 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="map">Chloropleth Map</a>
          <a href="linechart">Line Chart</a>
          <a href="barchart">Bar Chart</a>
          <a href="staticLine">Static Line Chart</a>
        </div>
      </div> 
    </div>
  </div>
<!-- Initialize a select button -->
<select id="selectButton"></select>
<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>

<!-- Color Scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="../static/js/graphjs.js"></script>
<body>
</html>
